html,body{
    background-image: linear-gradient(to right top, #33cbda, #28d9c8, #5de3a9, #98ea82, #d6ea5e);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.nav {
    padding: 30px;
    justify-content: center;
    
}

.form{
    display: flex;
    justify-content: center;
}
